version: "3.3"
services:
    # just one simulator
    aqua_gazebo:
        image: juancamilog/ros_lunar_gazebo_conda:with_cuda
        deploy:
            mode: global
            placement:
                constraints: [node.role == manager]
        # start the aqua_gazebo simulator
        command: /bin/bash -c "cd /catkin_ws; catkin_make; source devel/setup.bash; echo \`hostname -I\`; roslaunch aqua_gazebo headless.launch --screen"
        volumes:
            # keep bash history
            - ${HOME}/.bash_history:/root/.bash_history
            #  ros workspace
            - ${HOME}/mrl_lunar_ws:/catkin_ws
            # x11
            - /tmp/.X11-unix:/tmp/.X11-unix
        environment: 
            DISPLAY: $DISPLAY
            QT_X11_NO_MITSHM: 1
            ROS_MASTER_URI: http://aqua_gazebo:11311
            GAZEBO_MASTER_URI: http://aqua_gazebo:11345
            GAZEBO_IP: 172.17.0.2
            ROS_HOSTNAME: aqua_gazebo
        networks:
            - bridge
            - ros
    # muliple learning services
    mc_pilco:
        image: juancamilog/robot_learning:kusanagi
        depends_on:
            - "aqua_gazebo"
        command: /bin/bash -c "sleep 10; source /catkin_ws/devel/setup.bash; roslaunch --wait --screen robot_learning basic.launch"
        deploy:
            mode: global
            placement:
                constraints: [node.role == manager]
        volumes:
            # keep bash history
            - ${HOME}/.bash_history:/root/.bash_history
            #  ros workspace
            - ${HOME}/mrl_lunar_ws:/catkin_ws
            #  kusanagi library
            - ${HOME}/workspace/kusanagi:/kusanagi
            #  kusanagi library
            - /tmp/.theano:/root/.theano
        environment: 
            MPLBACKEND: Agg
            ROS_MASTER_URI: http://aqua_gazebo:11311
            GAZEBO_MASTER_URI: http://aqua_gazebo:11345
            ROS_HOSTNAME: mc_pilco
        networks:
            - ros
    visualizer:
        image: dockersamples/visualizer:stable
        ports:
            - "8280:8080"
        volumes:
            - "/var/run/docker.sock:/var/run/docker.sock"
        deploy:
            placement:
                constraints: [node.role == manager]
        networks:
            - ros
networks:
    bridge:
        external:
            name:  bridge
    ros:
